@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,900&display=swap');
@import url('./styles/variables.css');

body {
  /* background-color: var(--light-grey); */
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto
}



